CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="main/partitions.csv"

# Rollback (für kaputte OTA Updates)
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# “Hold GPIO to force Recovery”
CONFIG_BOOTLOADER_FACTORY_RESET=y
CONFIG_BOOTLOADER_OTA_DATA_ERASE=y
# GPIO musst du wählen (siehe unten)
# CONFIG_BOOTLOADER_NUM_PIN_FACTORY_RESET=9
# CONFIG_BOOTLOADER_HOLD_TIME_GPIO=5
